{% extends "base/base.html" %}
{% block title %}Delete Tour{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-danger">Delete Tour</h2>
    <p>Are you sure you want to delete the tour: <strong>{{ tour.title }}</strong>?</p>

    <form method="POST" action="{% url 'tours:delete' tour.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'accounts:list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}